body {

  font-family: 'Jost', sans-serif;
  margin: 0 0 0 0;
  text-align: center;
}


hr{
  width: 15%;
  border-style: dotted none none none;
  border-color: #EAF6F6;
  border-width: 10px;
}

.top-container {
  background-color: #E4F9F5;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding-top: 100px;
  position: relative;
}

.middle-container {

}

.selfintro{
  color: #40514E;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 30px;
  margin: 100px auto auto auto;
}

.FelixPic{
  width: 100px;
  height: 100px;
}

h1 {
  margin: 80px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 6.25rem;
  line-height: 1;
  color: #66BFBF;
}

h2{
  font-size: 2.5rem;
  color: #66BFBF;
}

h3{
  color: #11999E;
}

a:hover{
  text-decoration: underline;
}

#I{
  font-family: 'VT323', monospace;
  margin: 0 auto 0 auto;
  font-weight:lighter;
}

.footer-link{
  color: #11999E;
}

.top-cloud {
  position: absolute;
  top: 80px;
  right: 300px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 260px;
}

.coding-pic{
  float: left;
  width:25%;
  margin-right: 30px;
}

.accounting-pic{
  float: right;
  width:25%;
  margin-left: 30px;
}

.skill-row{
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: left;
  line-height: 2;
}

.MySkills{
  position: relative;
  top: 20px;
}

.contact-me-description{
  padding: 0 0 0 10px;
  margin: 50px auto 50px auto;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 22px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}


.footer-link{
  color: #11999E;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding:0 25px 0 25px;
}

.footer-link:hover{
  color: #EAF6F6;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding:0 25px 0 25px;
}

.copyright-declaration{
  color: #EAF6F6;
  font-size: 60%;
  padding-top: 15px;
}
